:root {
  --backgroundColor: #EDEDED;
  --textPrimaryColor: #2A2A2A;
  --textSecondaryColor: #888888;
  --borderColor: #EAEAEA;
  --badgeBlue: #1978FF;
  --badgeErrorColor: #FA5555;
  --loseColor: #03A16F;
  --profitColor: #F45452;
  --buttonBgColor: linear-gradient(315deg, #FFC440 0%, #FFD83C 100%);
}
